html
  head
    title Twiveyp - GitHub
    link(rel='stylesheet', type='text/css', href='style.css')
  body
    .sidebarshown
      button(onclick="slide") ||||
    .wrapper
      h1 Patrick Twivey's GitHub
