body {
  background-color: rgba(211, 211, 211, 0.3);
  height: 2000px;
}
body #sidebarhidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #1C2541;
  margin-left: -200px;
  -webkit-transition: 800ms ease;
          transition: 800ms ease;
  z-index: 1;
}
body #sidebarhidden ul {
  float: left;
  list-style: none;
  margin-left: 10px;
  top: 50%;
  height: 100%;
  position: absolute;
  margin-top: -69px;
}
body #sidebarhidden ul li {
  text-align: center;
}
body #sidebarhidden ul li a {
  text-decoration: none;
  color: #6FFFE9;
  font-family: sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  width: 100%;
  -webkit-transform: 200ms ease;
      -ms-transform: 200ms ease;
          transform: 200ms ease;
}
body #sidebarhidden ul li a:hover {
  text-decoration: underline;
}
body #sidebarhidden #sidebarshown {
  width: 50px;
  height: 40px;
  background-color: #1C2541;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
body #sidebarhidden #sidebarshown button {
  outline: none;
  border: none;
  background-color: inherit;
  color: #6FFFE9;
  font-size: 40px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
}
body .wrapper {
  width: 80vw;
  margin: -27px auto 0 auto;
  height: 100%;
}
body .wrapper h1 {
  color: #1C2541;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}
